#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

// #customers tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

// #customers tr:hover {
//   background-color: #ddd;
// }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.btn-edit {
  width: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;
  margin-right: 10px;

  &:hover {
    background-color: transparent;
    color: orange;
  }
}

.btn-delete {
  width: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: red;
  margin-left: 10px;

  &:hover {
    background-color: transparent;
    color: red;
  }
}

.modal-user-container {
  .modal-header {
    button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 27px;
    }
  }
}
